doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatibel",  content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title GEDURIZoom
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header
      h1 GEDURI Zoom
    main
      h2 Welcome to Zoom
    button Call
    script(src="/public/js/app.js")